/********************************************************/
/*                   	Tags	                        */
/********************************************************/
body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: #333333;
	text-align: center;
	height: 100%;
}

p {
	font-size: 14px;
}

.home-sections-preview div img{ 
}

.gallery-large-image{ 
	margin: 5%;
	width: 90%;
}

body, #content 
{
	overflow-x = hidden;
}

.row{
	margin-left: 0px;
}

/********************************************************/
/*                    Top bar 		                    */
/********************************************************/
#top-row
{
	height: 90px;
}


#top-row-menu
{
	padding-right: 5%;
	padding-top: 2%;
}

#top-row-logo img 
{
	width:300px; 
	margin-top: 3%;
}



/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.dropdown{
	float: right;
}

.navbar-toggle {
	height: 37px;
	width: 47px;
	display:block;
	background: rgba(0, 0, 0, 0.12);
	top:5px; 
	outline: 0;
	opacity: 1;
	-webkit-transition: all .35s;
	   -moz-transition: all .35s;
	        transition: all .35s;
	margin-right: 0px;
}

.open .navbar-toggle { 
	top:-70px; 
	opacity: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 25px;
	height: 3px;
	background: black;
}

.dropdown-menu {
	top: -14em;
	font-size: 13px;
	background:none;
	border:none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display:block;
	opacity:0;
	-webkit-transition: all .35s;
	   -moz-transition: all .35s;
	        transition: all .35s;
}
.dropdown-menu .active { 
	font-weight:bold;
	border:none;
}
.open .dropdown-menu { 
	top:2px;
	opacity:1;
	border:none;
}

.dropdown-menu>li {
	width: 100px;
	display: block;
	padding: 6px 0px 6px 0px;
	clear: both;
	font-weight: normal;
	line-height: 25px;
	color: #333;
	white-space: nowrap;
}

.dropdown-menu  { 
	padding:10px 10px;
	margin:0;
	color:white;
	text-decoration: none;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}


ul li:hover {
	width: 100px;
	height: 40px;
	cursor: pointer;
	background:#EEEEEE;
	color:black;
	padding:10px 0px 10px 0px;
}


/********************************************************/
/*                   	 Titles	                        */
/********************************************************/
.title{
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-size: 5em;
}

.second-title{
	font-size: 1em;
}



/********************************************************/
/*                   Gallery Images                      */
/********************************************************/
.title-image{
	width:110%; 
	height:80px;
	position: absolute;
	z-index: 999;
	color: black;
	background: white;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

.title-image div{
	z-index: 1000;
	color: black;
	
	height:50px;
	margin-top: 27px;
	margin-left: 320px;
	text-align: center;
	position: center;
}

.hashtag-image{
	
	height:60px;
	margin-top: 650px;
	margin-left: 750px;
	border-radius: 15px;
	position: absolute;
	z-index: 999;
	color: black;
	background: white;
	opacity: 0.6;
    filter: alpha(opacity=60);
}

.hashtag-image div{
	z-index: 1000;
	color: black;
	margin-top: 10px;
	margin-left: 20px;
}

#content {
	min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 85vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}


button#top-menu-button:focus {
    outline:0  !important;
}


/********************************************************/
/*                 UI - Thumbnails                      */
/********************************************************/
.thumbnail {
	background-color: rgba(255,255,255,.2);
	border: 0 none;
	padding:10px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.thumbnail .caption {
	color: inherit;
}


/********************************************************/
/*                   Home Images                        */
/********************************************************/

.home-image{
	width:100%; 
	height:100%;
	position: absolute;
	z-index: 999;
	display: block;
	opacity: 0;
    filter: alpha(opacity=0);
}

.home-image:hover{
	position: absolute;
	color: black;
	background: white;
	opacity: 0.5;
    filter: alpha(opacity=50);
}

.home-image .title{
	width: 35%;
	z-index: 1000;
	color: white;
	font-size: 35px ;
    background-color: black;
    margin-top: 25%;
    border-radius:5px;
    margin-left: 30%;
}

.ajax-navigation-link 
{
	cursor: pointer;
}