<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Permuta artística</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

    <link href="../../css/site.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid" style="width:95%; overflow:hidden; min-width:400px;" id="body-wrapper">
      <div class="row" id="top-row">

        <div class="col-xs-5 .col-sm-4 col-md-6 text-left" id="top-row-logo-pa">
          <img src="../../images/logo_pa.png">
        </div>
        
        <div class="col-xs-3 .col-sm-2 col-md-1 pull-right" id="top-row-button-pa">
              <a class="btn btn-sign-in ajax-navigation-link" data-section="login" title="Fazer login"><i class="fa fa-sign-in fa-2x"></i></a>
        </div>

        <div class="col-md-1 pull-right" id="top-row-button">
              <a class="btn btn-register ajax-navigation-link" data-section="register">Cadastre-se aqui</a>
        </div>

      </div><!-- div row -->
      <div style="clear:both;"></div>
      <div class="row" id="content">
      </div><!-- div row content -->
    </div><!-- div container-fluid-->
    <input type='hidden' value="">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/jquery.jcarousel.min.js"></script>

    <script src="../../js/scripts.js"></script>
  </body>
</html>