<div class="container-fluid">
	<h2 class="title"> Quem sou? </h2> 
  <h3 class="second-title"> Hebert Melo... </h3>
  <div class="col-md-6 col-md-offset-3">
    <p> Mineiro de Belo Horizonte. Sou administrador de empresas com especialização em logística (ganho a vida com esse trabalho) e fotografo por paixão.
    </p>
    <p>
    Minha história com a fotográfica começou pelo prazer de guardar memórias de pessoas, momentos e lugares porém, sempre tudo muito amador. Com o passar do tempo decidi evoluir na fotografia e comecei investir em equipamentos melhores. Já a parte do estudo da fotografia, faço a medida em que tenho condições financeiras e tempo!
    </p>
    <p>
    Como fotografo por prazer, decidi criar um projeto para alavancar a vida de jovens modelos, impulsionar microempresas e aperfeiçoar minha técnica. Quer saber mais sobre o projeto Permuta Artística? Clique aqui.
    </p>
  </div>
</div> <!-- /container-fluid -->