<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> "A lingerie carrega em si uma profunda atração. Creio que seja por ser um elemento escondido: você está usando algo especial, mas é um segredo."
	<br>
	Penélope Cruz </h3>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi1.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi3.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi4.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi5.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi6.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi7.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi8.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi9.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi10.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi11.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi12.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi13.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi14.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi15.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi16.jpg" class="gallery-large-image">
	</div>

	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi17.jpg" class="gallery-large-image">
	</div>
</div>
