<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> Este álbum é uma dedicatória a minha amada Amanda! </h3>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto1.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto2.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto3.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto4.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto5.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto6.original.jpg" class="gallery-large-image">
	</div>
</div>