<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> Essa foi a comemoração do primeiro aninho do Davi! Um garotinho muito lindo e esperto que, junto com papai e mamãe, fizeram uma verdadeira festa com seus convidados! Obrigado Davi, por me proporcionar esse momento.
	</h3>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi1.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi3.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi4.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi5.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi6.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi7.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi8.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi9.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi10.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi11.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi12.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi13.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi14.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi15.jpg" class="gallery-large-image">
	</div>
</div>
