<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> Sophia Melo</h3> 
	<br>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia1.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia3.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia4.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia5.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia6.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia7.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia8.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia9.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia10.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia11.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia12.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia13.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia14.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia15.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia16.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/sophia17.jpg" class="gallery-large-image">
	</div>
</div>
