<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> "Há um tempo em que é preciso abandonar as roupas usadas, que já tem a forma do nosso corpo, e esquecer os nossos caminhos, que nos levam sempre aos mesmos lugares."
	<br>
	Fernando Pessoa </h3>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people1.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people3.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people4.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people5.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people6.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people7.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people8.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people9.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people10.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people11.jpg" class="gallery-large-image">
	</div>
</div>
