<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> Fotos para o make off do editorial We came in colors! </h3>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-117.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-96.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-3.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-108.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-133.original.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-44.original.jpg" class="gallery-large-image">
	</div>
</div>