<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> Letícia Melo</h3> 
	<br>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia1.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia3.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia4.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia5.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia6.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia7.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia8.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia9.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia10.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia11.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia12.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia13.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia14.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia15.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia16.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia17.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia18.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#teen</div>
	  </div>
	  <img src="images/leticia19.jpg" class="gallery-large-image">
	</div>
</div>
