<div class="container-fluid">
	<h2 class="title"> Álbum </h2> 
	<h3 class="second-title"> Coleção Inverno 2015 Speciale Multimarcas e Mariana Murta Acessórios</h3> 
	<br>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes1.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes3.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes4.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes5.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes6.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes7.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes8.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes9.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes11.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes12.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes13.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes14.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes15.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes16.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes17.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes18.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes19.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes20.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes21.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes22.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes23.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes24.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes25.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-10 col-md-offset-1 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes26.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-6 col-md-offset-3 text-center">
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes27.jpg" class="gallery-large-image">
	</div>
</div>
