<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="connected-carousels">
            <div class="stage">
                <div class="carousel carousel-stage jcarousel">
                    <ul>
                        <li><img src="images/foto1.stock.jpg" alt=""></li>
                        <li><img src="images/foto2.stock.jpg" alt=""></li>
                        <li><img src="images/foto3.stock.jpg" alt=""></li>
                        <li><img src="images/foto4.stock.jpg" alt=""></li>
                        <li><img src="images/foto5.stock.jpg" alt=""></li>
                        <li><img src="images/foto6.stock.jpg" alt=""></li>
                        <li><img src="images/foto8.stock.jpg" alt=""></li>
                    </ul>
                </div>
                <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
                <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
            </div>
            <div class="navigation">
                <a href="#" class="prev prev-navigation">&lsaquo;</a>
                <a href="#" class="next next-navigation">&rsaquo;</a>
                <div class="carousel carousel-navigation jcarousel">
                    <ul>
                        <li><img src="images/foto1.thumb.jpg" alt=""></li>
                        <li><img src="images/foto2.thumb.jpg" alt=""></li>
                        <li><img src="images/foto3.thumb.jpg" alt=""></li>
                        <li><img src="images/foto4.thumb.jpg" alt=""></li>
                        <li><img src="images/foto5.thumb.jpg" alt=""></li>
                        <li><img src="images/foto6.thumb.jpg" alt=""></li>
                        <li><img src="images/foto8.thumb.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

