<h2 class="text-center title">Contato</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead">Dúvidas? Entre em contato.</p>
				<form class="form form-contact" action="index.html" method="post">
				<table class="table table-default" >
					<tr>
						<td>Nome:</td>
						<td><input type="text" name="name" size="43"></td>
					</tr>
					<tr>
						<td>E-mail:</td>
						<td><input type="text" name="email" size="43"></td>
					</tr>
					<tr>
						<td>Texto:</td>
						<td><textarea name="text" rows="6" cols="41"></textarea></td>
					</tr>
					<tr>
						<td colspan="2" style="padding-left:300px;"><input class="btn btn-default" type="submit" value="Enviar"></td>
					</tr>
				</table>
				</form>
				<br>
				<span class="fa fa-envelope">&nbsp; contato@hebertmelo.com</span>
			</div>
		</div>