<div class="container-fluid">
	<h2 class="title"> Galeria </h2> 
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumAmanda.html">
	  <div class="col-md-12 title-gallery">
	    <div>Amada Amanda</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/amanda1.jpg" class="gallery-large-image">
	</div>
	<br><br><br><br>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumColors.html">
	  <div class="col-md-12 title-gallery">
	    <div>We came in colors</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-3.original.jpg" class="gallery-large-image">
	</div>
	<br><br><br><br>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumGabi.html">
	  <div class="col-md-12 title-gallery">
	    <div>Gabi Fontoura - Lingerie</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi2.jpg" class="gallery-large-image">
	</div>
	<br><br><br><br>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumPeople.html">
	  <div class="col-md-12 title-gallery">
	    <div>People and Places</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#people &nbsp;&nbsp;&nbsp; #place</div>
	  </div>
	  <img src="images/people1.jpg" class="gallery-large-image">
	</div>
	<br><br><br><br>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumDavi.html">
	  <div class="col-md-12 title-gallery">
	    <div>Niver do Davi</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#children</div>
	  </div>
	  <img src="images/davi2.jpg" class="gallery-large-image">
	</div>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumAgnes.html">
	  <div class="col-md-12 title-gallery">
	    <div>Coleção Inverno 2015 Speciale Multimarcas e Mariana Murta Acessórios</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Agnes15.jpg" class="gallery-large-image">
	</div>
</div>