<div class="container-fluid">
	<h2 class="title"> Galeria </h2> 
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumAmanda.html">
	  <div class="col-md-12 title-gallery">
	    <div>Amada Amanda</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women #amanda</div>
	  </div>
	  <img src="images/foto5.original.jpg" class="gallery-large-image">
	</div>
	<br><br><br><br>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumColors.html">
	  <div class="col-md-12 title-gallery">
	    <div>We came in colors</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women</div>
	  </div>
	  <img src="images/Produção INAP-3.original.jpg" class="gallery-large-image">
	</div>
	<br><br><br><br>
	<div class="col-md-12 ajax-navigation-link text-center" data-section="views/albumGabi.html">
	  <div class="col-md-12 title-gallery">
	    <div>Gabi Fontoura - Lingerie</div>
	  </div>
	  <div class="hashtag-image">
	    <div>#women &nbsp;&nbsp;&nbsp; #lingerie</div>
	  </div>
	  <img src="images/gabi2.jpg" class="gallery-large-image">
	</div>
</div>