<div class="container-fluid home-sections-preview">
    <div class="col col-md-4 thumbnail col-sm-4 ajax-navigation-link" data-section="gallery">
      <div class="home-image" style="">
        <div class="title"><b>People</b></div>
      </div>
    	<img src="../images/foto1.thumb.jpg" alt="">
    </div>
    <div class="col col-sm-4 thumbnail col-md-4 ajax-navigation-link" data-section="carousel">
      <div class="home-image">
        <div class="title"><b>StockPhoto</b></div>
      </div>
      <img src="../images/foto8.thumb.jpg" alt="">
    </div>
    <div class="col col-sm-4 thumbnail col-md-4 ajax-navigation-link" data-section="exchange">
      <div class="home-image">
        <div class="title"><b>Forecast</b></div>
      </div>
      <img src="../images/foto2.thumb.jpg" alt="">
    </div>
</div> <!-- /container-fluid -->