<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hebert Melo</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="../css/site.css" rel="stylesheet">
    <!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container-fluid">


      <div class="container-fluid">
			<div class="col-sm-4">
				<img src="../images/foto1.thumb.jpg" alt="">
			</div>
			<div class="col-sm-4">
				<img src="../images/foto2.thumb.jpg" alt="">
			</div>
			<div class="col-sm-4">
				<img src="../images/foto4.thumb.jpg" alt="">
			</div>
      </div> <!-- /container-fluid -->


    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>