<div class="container-fluid">
	<h2 class="title"> Permuta artística </h2> 
	<div class="col-md-6 col-md-offset-3">
		<p>
		O projeto Permuta Artística propõe a formação e a gestão de dois bancos de dados, um destinado às microempresas e outro aos modelos fotográficos. A sistemática é simples. As microempresas que tiverem interesse em divulgar seus produtos ou serviços, através de material fotográfico, farão o cadastro das respectivas informações aqui no site. Também os modelos interessados em adquirir material para seu portfólio ou book fotográfico farão da mesma forma o cadastro aqui no site.
		</p>
		<p>
		Após essa etapa o Permuta Artística fará o cruzamento dos dados e perfis das microempresas com os perfis dos modelos e, então, proporá a permuta entre os interessados, desde que haja comum acordo entre as partes em vincular produto e serviço à figura do modelo e vice versa.
		</p>
		<p>
		Após o acordo entre as partes, o Permuta Artística promoverá um ensaio fotográfico, produzindo material artístico para os envolvidos. O material entregue será o mesmo para as três partes envolvidas no acordo. Sendo que, cada parte poderá utilizar o material como melhor lhe convier.
		</p>
		<p>
		O que as partes envolvidas ganham com a permuta? Conforme dito, tal permuta possibilitará a criação de portfólios e books fotográficos para os modelos e material de marketing para as microempresas, que poderão aplicá-los em cadernos de moda, folders, banners, flyers e quaisquer outros materiais publicitários
		É importante ressaltar que as três partes envolvidas na permuta, empresa, modelo e o Permuta Artística, estarão assegurados e regulados por contrato formalizado, do qual constará direitos e deveres das partes.
		</p>
		<p>
		O Permuta Artística deseja bons negócios a todos!
		</p>
	</div>
</div>