<div class="container-fluid home-sections-preview">
    <div class="col col-md-4 thumbnail col-sm-4 ajax-navigation-link" data-section="views/gallery.html">
      <div class="home-image" style="">
        <div class="title"><b>People</b></div>
      </div>
    	<img src="images/foto1.thumb.jpg" alt="">
    </div>
    <div class="col col-sm-4 thumbnail col-md-4 ajax-navigation-link" data-section="views/carousel.html">
      <div class="home-image">
        <div class="title"><b>StockPhoto</b></div>
      </div>
      <img src="images/people4.thumb.jpg" alt="">
    </div>
    <!--data-section="http://loja.hebertmelo.com" -->
    <div class="col col-sm-4 thumbnail col-md-4 ajax-navigation-external-link" data-section="http://hebertmelo/loja/index.html">
      <div class="home-image">
        <div class="title"><b>Store</b></div>
      </div>
      <img src="images/gabi6.thumb.jpg" alt="">
    </div>
</div> <!-- /container-fluid -->