<div class="container-fluid">
	<h2 class="title"> Login </h2> 
	<div class="col col-md-12 text-center">
		<table class="table" >
			<tr>
				<td>E-mail:</td>
				<td><input type="text" name="email" size="43" id="loginEmail"></td>
			</tr>
			<tr>
				<td>Senha:</td>
				<td><input type="password" name="password" size="43" id="loginPassword"></td>
			</tr>
			<tr>
				<td colspan="2" style="padding-left:300px;"><input class="btn btn-default" type="button" onclick="submitLoginForm();" value="Login"></td>
			</tr>
		</table>
		
	</div>
</div> <!-- /container-fluid -->