<div class="container-fluid">
	<h2 class="title"> Obrigado! </h2> 
	<div class="col-md-6 col-md-offset-3 text-justify">
		<p>
		O Permuta artítica agradece seu interesse no projeto. Para dar continuidade ao processo é necessário que você envie suas fotos para o e-mail contato@hebertmelo.com, juntamente com o perfil de trabalho/modelo que deseja.
		</p>
		<p>
		Após o envio das fotos a equipe do permuta artística irá te indicar para o trabalho disponível dentro do seu perfil.
		</p>
	</div>
</div>