<div class="container-fluid">
	<h2 class="title"> Cadastro </h2> 
	<div class="col col-md-12 text-center">
		<table class="table" >
			<tr>
				<td>Nome:</td>
				<td><input type="text" name="name" size="43" id="registerName"></td>
			</tr>
			<tr>
				<td>Tipo de usuário:</td>
				<td><input type="text" name="type" size="43" id="registerType"></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" name="email" size="43" id="registerEmail"></td>
			</tr>
			<tr>
				<td>Senha:</td>
				<td><input type="password" name="password" size="43" id="registerPassword"></td>
			</tr>
			<tr>
				<td colspan="2" style="padding-left:300px;"><input class="btn btn-default" type="button" onclick="submitRegisterForm();" value="Enviar"></td>
			</tr>
		</table>
	</div>
</div> <!-- /container-fluid -->