<div class="container-fluid">
	<h2 class="title"> Cadastro </h2> 
	<div class="col col-md-12 text-center">
		<form action="index.html" method="post">
		<table class="table" >
			<tr>
				<td>Nome:</td>
				<td><input type="text" name="name" size="43"></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" name="email" size="43"></td>
			</tr>
			<tr>
				<td colspan="2" style="padding-left:300px;"><input class="btn btn-default" type="submit" value="Enviar"></td>
			</tr>
		</table>
		</form>
	</div>
</div> <!-- /container-fluid -->