<div class="container-fluid">
	<h2 class="title"> Contato </h2> 
	<h3 class="second-title"> Dúvidas? Entre em contato. </h3>
	<div class="col col-md-12 text-center">
		<form action="index.html" method="post">
		<table class="table" >
			<tr>
				<td>Nome:</td>
				<td><input type="text" name="name" size="43"></td>
			</tr>
			<tr>
				<td>E-mail:</td>
				<td><input type="text" name="email" size="43"></td>
			</tr>
			<tr>
				<td>Texto:</td>
				<td><textarea name="text" rows="6" cols="41"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" style="padding-left:300px;"><input class="btn btn-default" type="submit" value="Enviar"></td>
			</tr>
		</table>
		</form>
		<span class="fa fa-envelope">&nbsp; contato@hebertmelo.com</span>
	</div>
</div> <!-- /container-fluid -->