<div class="container-fluid">
  
<div class="row">
  <div class="col-xs-6">
  <h6 class="title"> Trabalhos </h6>
  </div>
  <div class="col-xs-6">
  <h6 class="title"> Regras </h6>
  </div>
</div>

<div class="row">

    <div class="col-xs-6">

    <div class="row">
        <div class="col-xs-6 thumbnail">
            <img src="images/make.jpg" alt="">
        </div>
        <div class="col-xs-4">
          <div class="row">
            <h3 class="second-title">Making of</h3>
            <p>R$0000,00</p>
          </div>
          <div class="row">
            <p align="right">
            Saiba mais &nbsp;<span class="glyphicon glyphicon-plus"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 thumbnail">
            <img src="images/gabi2.jpg" alt="">
        </div>
        <div class="col-xs-4">
          <div class="row">
            <h3 class="second-title">Ensaios</h3>
            <p>R$0000,00</p>
          </div>
          <div class="row">
            <p align="right">
            Saiba mais &nbsp;<span class="glyphicon glyphicon-plus"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 thumbnail">
            <img src="images/leticia9.jpg" alt="">
        </div>
        <div class="col-xs-4">
          <div class="row">
            <h3 class="second-title">Adoslecentes</h3>
            <p>R$0000,00</p>
          </div>
          <div class="row">
            <p align="right">
            Saiba mais &nbsp;<span class="glyphicon glyphicon-plus"></span>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 thumbnail">
            <img src="images/davi2.jpg" alt="">
        </div>
        <div class="col-xs-4">
          <div class="row">
            <h3 class="second-title">Crianças</h3>
            <p>R$0000,00</p>
          </div>
          <div class="row">
            <p align="right">
            Saiba mais &nbsp;<span class="glyphicon glyphicon-plus"></span>
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xs-6" style="background:#E8E8E8; border-radius: 25px;">
      <h3 class="second-title">Geral</h3>
      <p>
      EM CONSTRUÇÃO... Curabitur ultricies viverra nisl, non maximus erat tempor sit amet. Vivamus sodales, ligula non condimentum aliquet, nunc dolor interdum lacus, eu scelerisque nisi libero at risus. Pellentesque a ante non lacus consectetur interdum nec quis leo. Pellentesque semper pretium elit, vel iaculis ante malesuada et. Suspendisse at justo purus. Mauris ac viverra orci. Morbi iaculis elementum dignissim.
      </p>
      <h3 class="second-title">Deslocamento</h3>
      <p>
      EM CONSTRUÇÃO... Curabitur ultricies viverra nisl, non maximus erat tempor sit amet. Vivamus sodales, ligula non condimentum aliquet, nunc dolor interdum lacus, eu scelerisque nisi libero at risus. Pellentesque a ante non lacus consectetur interdum nec quis leo. Pellentesque semper pretium elit, vel iaculis ante malesuada et. Suspendisse at justo purus. Mauris ac viverra orci. Morbi iaculis elementum dignissim.
      </p>
      <h3 class="second-title">Local</h3>
      <p>
      EM CONSTRUÇÃO... Curabitur ultricies viverra nisl, non maximus erat tempor sit amet. Vivamus sodales, ligula non condimentum aliquet, nunc dolor interdum lacus, eu scelerisque nisi libero at risus. Pellentesque a ante non lacus consectetur interdum nec quis leo. Pellentesque semper pretium elit, vel iaculis ante malesuada et. Suspendisse at justo purus. Mauris ac viverra orci. Morbi iaculis elementum dignissim.
      </p>
    </div>

</div>


</div>
